@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles */
body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  @apply text-blue-500 hover:text-blue-700;
  text-decoration: none;
}

button {
  @apply cursor-pointer;
}

/* Custom classes if needed */
.app-container {
  @apply flex flex-col md:flex-row h-screen;
}

.sidebar {
  @apply w-full md:w-1/4 bg-gray-900 text-white p-4 md:p-6 flex flex-col shadow-lg;
}

.sidebar-header {
  @apply text-center mb-8;
}

.sidebar-nav button {
  @apply py-2 md:py-3 px-4 md:px-6 rounded-lg transition-colors duration-300;
}

.main-content {
  @apply flex-1 p-4 md:p-8 overflow-y-auto;
}

.form {
  @apply bg-white p-4 md:p-8 rounded-lg shadow-lg;
}

.form-header {
  @apply mb-6 text-center text-2xl md:text-3xl font-extrabold text-gray-900;
}

.form-body {
  @apply grid grid-cols-1 gap-4 md:gap-6;
}

.form-group {
  @apply mb-4 relative;
}

.form-control {
  @apply mt-1 block w-full border-gray-300 rounded-lg shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

.form-label {
  @apply block font-semibold;
}

.form-label-input {
  @apply mt-1 block w-full bg-transparent border-none font-bold;
}

.btn {
  @apply px-4 py-2 rounded-lg shadow transition-colors duration-300;
}

.btn-success {
  @apply bg-green-500 text-white hover:bg-green-600 mt-6;
}

.btn-secondary {
  @apply bg-gray-500 text-white hover:bg-gray-600;
}

.btn-remove {
  @apply absolute right-0 top-1/2 transform -translate-y-1/2 bg-transparent text-red-500 hover:text-red-700;
}

.pdf-container {
  @apply w-full md:w-1/2 p-4 md:p-8 bg-gray-100 flex justify-center items-center;
}

.pdf-iframe-container {
  @apply w-full h-full bg-gray-300 rounded-lg flex justify-center items-center shadow-inner;
}

.pdf-iframe {
  @apply w-full h-full rounded-lg;
}

.placeholder {
  @apply text-gray-700 text-lg;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .app-container {
    @apply flex-col;
  }

  .sidebar {
    @apply w-full p-2;
  }

  .main-content {
    @apply p-4;
  }

  .pdf-container {
    @apply w-full mt-4;
  }

  .pdf-iframe-container {
    @apply h-60;
  }
}

.pdf-box-container {
  @apply w-full h-full bg-white shadow-lg rounded-lg flex flex-col;
}

.pdf-box-buttons .btn {
  @apply bg-gray-200 text-gray-700 py-2 px-4 rounded transition-colors duration-300 hover:bg-gray-300;
  font-size: 0.875rem; /* Smaller font size for discrete appearance */
}

.pdf-box-buttons .btn-active {
  @apply bg-blue-500 text-white;
}

.pdf-box-content {
  @apply flex-1 bg-gray-100 rounded-lg p-4 overflow-auto;
}

.pdf-iframe {
  @apply w-full h-full rounded-lg;
}

.json-content, .latex-content {
  @apply p-4 font-mono text-sm bg-white rounded-lg shadow-inner;
}
