/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.divider {
  border: 0;
  height: 3px; /* Increased thickness */
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Stronger color gradient */
  margin: 20px 0;
  border-radius: 5px;
  opacity: 1; /* Full opacity */
}



/* Additional global styles */
body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  @apply text-blue-500 hover:text-blue-700;
  text-decoration: none;
}

button {
  @apply cursor-pointer;
}


.sidebar-header {
  @apply text-center mb-8;
}

/* Ensure icons are visible and properly aligned */
.sidebar-nav button {
  @apply py-2 md:py-3 px-4 md:px-6 rounded-lg transition-colors duration-300 flex items-center;
}

.sidebar-nav button .icon {
  @apply h-6 w-6 flex-shrink-0;
}

.sidebar-nav button.collapsed .text {
  display: none;
}

.sidebar-nav button .text {
  @apply ml-3;
}


.form {
  @apply bg-white p-4 md:p-6 rounded-lg shadow-lg max-w-4xl mx-auto w-full; /* Adjusted padding for a shorter form */
}


.form-header {
  @apply mb-6 text-center text-2xl md:text-3xl font-extrabold text-gray-900;
}
/* globals.css */
/* globals.css */
.form-body {
  @apply w-full overflow-y-auto max-h-[60vh] pr-4; /* Reduce max height and add right padding */
}

.pdf-box-content {
  @apply flex-1 bg-gray-100 rounded-lg p-4 overflow-auto max-h-[80vh] pr-4; /* Add right padding */
}

/* Custom scrollbar styles */
.form-body::-webkit-scrollbar {
  width: 12px;
}

.form-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.form-body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.form-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom scrollbar for PDF box */
.pdf-box-content::-webkit-scrollbar {
  width: 12px;
}

.pdf-box-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.pdf-box-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.pdf-box-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.pdf-box-content {
  @apply flex-1 bg-gray-100 rounded-lg p-4 overflow-auto;
  max-height: 80vh;
}
.form-group {
  @apply mb-3 relative;
  width: 100%;
}

.form-control {
  @apply mt-1 block w-full border-gray-300 rounded-lg shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

.form-label {
  @apply block font-semibold;
}

.form-label-input {
  @apply mt-1 block w-full bg-transparent border-none font-bold;
}


.btn {
  @apply px-4 py-2 rounded-lg shadow transition-colors duration-300;
}

.btn-success {
  @apply bg-green-500 text-white hover:bg-green-600 mt-6;
}

.btn-secondary {
  @apply bg-gray-500 text-white hover:bg-gray-600;
}

.btn-remove {
  @apply absolute right-0 top-1/2 transform -translate-y-1/2 bg-transparent text-red-500 hover:text-red-700;
}

.pdf-container {
  @apply w-full md:w-1/2 p-4 md:p-8 bg-gray-100 flex justify-center items-center;
}

.pdf-iframe-container {
  @apply w-full h-full bg-gray-300 rounded-lg flex justify-center items-center shadow-inner;
}

.pdf-iframe {
  @apply w-full h-full rounded-lg;
}

.placeholder {
  @apply text-gray-700 text-lg;
}

/* globals.css */
.app-container {
  @apply flex flex-col md:flex-row h-screen;
}

.sidebar {
  @apply w-full md:w-64 bg-gray-900 text-white p-4 md:p-6 flex flex-col shadow-lg fixed md:relative;
}

.main-content {
  @apply flex-1 p-4 md:p-8 overflow-y-auto;
  width: calc(100% - 64px); /* Adjust width based on sidebar */
  margin-left: 0px; /* Adjust margin to prevent overlapping */
}

@media (max-width: 1024px) {
  .app-container {
    @apply flex-col;
  }

  .sidebar {
    @apply w-full p-2;
    position: relative;
  }

  .main-content {
    @apply p-4;
    width: 100%;
    margin-left: 0;
  }



  .pdf-container {
    @apply w-full mt-4;
  }

  .pdf-iframe-container {
    @apply h-60;
  }
}

.pdf-box-container {
  @apply w-full h-full bg-white shadow-lg rounded-lg flex flex-col;
}

.pdf-box-buttons .btn {
  @apply bg-gray-200 text-gray-700 py-2 px-4 rounded transition-colors duration-300 hover:bg-gray-300;
  font-size: 0.875rem; /* Smaller font size for discrete appearance */
}

.pdf-box-buttons .btn-active {
  @apply bg-blue-500 text-white;
}

.pdf-box-content {
  @apply flex-1 bg-gray-100 rounded-lg p-4 overflow-auto;
}

.pdf-iframe {
  @apply w-full h-full rounded-lg;
}

.json-content, .latex-content {
  @apply p-4 font-mono text-sm bg-white rounded-lg shadow-inner;
}
.textLayer {
  pointer-events: none;
}

.textLayer span {
  pointer-events: all;
}

.annotationLayer {
  pointer-events: none;
}

.annotationLayer a {
  pointer-events: all;
  position: absolute;
  text-decoration: none;
  color: inherit;
  opacity: 0; /* Invisible but clickable */
}
.draggable-item {
  display: flex;
  align-items: center;
  cursor: move;
}
/*About container*/
.about-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.about-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-container h2 {
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 20px;
}

.about-container h3 {
  font-size: 1.2em;
  margin-top: 20px;
}

.about-container p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-container a {
  color: #1a73e8;
  text-decoration: none;
}

.about-container a:hover {
  text-decoration: underline;
}

.divider {
  margin: 40px 0;
  border: 0;
  height: 1px;
  background: #ddd;
}
/*Contact container*/
.contact-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-container p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contact-container a {
  color: #1a73e8;
  text-decoration: none;
}

.contact-container a:hover {
  text-decoration: underline;
}
/*Copyright*/
.copyright-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.copyright-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.copyright-container p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.copyright-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.copyright-container li {
  margin-bottom: 10px;
}

.copyright-container a {
  color: #1a73e8;
  text-decoration: none;
}

.copyright-container a:hover {
  text-decoration: underline;
}
/*Footer*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px; /* Increase padding to push content farther apart */
  max-width: 2000px; /* Optionally increase max-width */
  margin: 0 auto;
}

.footer-left {
  font-size: 14px;
  text-align: left;
  flex: 1;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  flex: 1;
}

.footer-right a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-size: 14px;
}

.footer-right a:hover {
  text-decoration: underline;
}
/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
  font-size: 18px;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-body {
  margin-top: 10px;
  font-size: 16px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-footer .btn {
  margin-left: 10px;
}

/* Custom Red Button */
.red-button {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

.red-button:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
